body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #fff; 
}

.content {
    max-width: 400px;
    height: 80vh;
    margin: 0 auto;
}

.head_menu {
    max-width: 400px;
    margin: 0 auto;
    height: 19vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #000;
    max-width: 400px;
    margin: 0 auto;
}

.data_block {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: table;
    /* height: 25vh; */
}

.missions {
    max-width: 400px;
    margin: 0 auto;
    height: 85.5vh;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    max-width: 400px;
    margin: 0 auto;
    background-color: #000; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
    max-width: 400px;
    bottom: 0;
    left: 0;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 100px auto;
}
.circle .section {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform-origin: 50% 50%;
}
.section-1 {
    background-color: red;
    transform: rotate(0deg);
}
.section-2 {
    background-color: green;
    transform: rotate(60deg);
}
.section-3 {
    background-color: blue;
    transform: rotate(120deg);
}
.section-4 {
    background-color: yellow;
    transform: rotate(180deg);
}
.section-5 {
    background-color: rgb(70, 87, 185);
    transform: rotate(240deg);
}
.section-6 {
    background-color: rgb(192, 129, 34);
    transform: rotate(300deg);
}

.spinner {
    position: absolute;
    top: 150px;
    animation: spin 2s infinite linear;
}

.scaler {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: scale 250ms linear;
}

.menu nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.menu nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    transition: color 0.3s;
}
.menu nav a:hover {
    color: #ff00ff; 
}

.menu-nav-active {
    color: #ff00ff; 
}

.menu nav a i {
    font-size: 24px;
    display: block;
}
.menu nav a span {
    margin-top: 5px;
    display: block;
    font-size: 14px;
}

.wrapper {
    padding: 20px;
    background-color: #111; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card {
    background-color: #1a1a1a; 
    border-radius: 10px;
    padding: 10px; 
    margin-top: 15px;
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 30px; 
    height: 30px; 
    margin-right: 15px; 
}

.card-content {
    display: flex;
    align-items: center;
}

.card-details {
    margin-right: 15px; 
}

.card-details h3 {
    margin: 0;
    font-size: 14px; 
    font-weight: normal;
    color: #b3b3b3;
}

.card-details p {
    margin: 0;
    font-size: 18px; 
    font-weight: bold;
}

.card button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; 
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.big-button {
    border-radius: 10px;
    padding: 10px; 
    margin-top: 15px;
    margin-bottom: 15px; 
    display: flex;
    align-items: center;
}

.table {
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    align-items: center;
}

.table-title {
    max-width: 400px;
    width: 100%;
    justify-content: center;
}

.table-title h2 {
    margin: 0 auto;
    margin-left: 1vh;
}

.table-columns {
    padding: 10px; 
    margin-top: 15px;
    margin-bottom: 15px; 
    max-width: 400px;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-column {
    display: flex;
    align-items: center;
}

.table-content {
    justify-content: space-between;
}

.table-row {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1vh auto;
}

.table-row img {
    width: 30px; 
    height: 30px; 
}

.big-button button {
    border: none;
    border-radius: 5px;
    padding: 8px 16px; 
    font-size: 14px; 
    cursor: pointer;
    max-width: 400px;
    width: 100%;
}

.card button:hover {
    background-color: #ddd;
}


.data_block p {
    margin: 0 0 10px 0; 
    font-size: 16px;
    color: #b3b3b3;
    margin-left: 2%;
}

.data_block .card-buttons {
    display: flex;
    justify-content: space-between;
}

.text-data {
    display: block;
    justify-content: center; 
    align-items: center;     
    margin-top: 15px;
    margin-bottom: 15px;
}

.text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 400px;
    box-sizing: border-box; 
    width: 100%;
    height: 5vh;
    margin: 0 auto;
}

.data_block button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; 
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 2%;
    margin-left: 2%;
    width: 44%;
}

.data_block button:hover {
    background-color: #ddd;
}

.copy-box {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    word-break: break-all;
    margin: 10px auto;
    cursor: text;
}

@keyframes spin { 
    100% { 
        transform: rotate(360deg);
    } 
}

@keyframes scale {
    50%{
        transform: scale(1.3) rotate(90deg);
    }
    100% {
        transform: scale(1);
    }
}